.App {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.infinite-hits {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap into rows */
  justify-content: space-around; /* Distributes cards evenly in each row */
  width: 100%; /* Full width of the parent container */
  margin: 0 auto; /* Centers the container if needed */
  padding: 16px; /* Optional padding */
}

/* Card styles */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  flex: 1 1 260px; /* Grow to fill space, shrink if needed, set min width */
  max-width: 300px; /* Optional max width */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
}

.card h3 {
  font-size: .75em;
  margin: 8px 0;
  cursor: pointer;
}

.card p {
  margin: 4px 0;
  color: #555;
}

.add-to-cart-button {
  width: 100%;
  padding: 12px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
}

.add-to-cart-button:hover {
  background-color: #e65500;
}

/* END Card styles */

.sentinel {
  height: 1px;
  visibility: hidden;
}


/* FACET Styles */

.refinement-list-container {
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Adjust width as needed */
  height: 100%;
}

.refinement-list-container h2 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.ais-RefinementList-item label {
  cursor: pointer;
  font-size: 0.9em;
}

.ais-RefinementList-showMore {
  cursor: pointer;
  font-weight: bold;
  color: #007bff;
  border: none;
  background: none;
  padding: 4px 0;
}

/* END FACET Styles */